.chatWindow {
  position: fixed;
  right: 10px;
  bottom: 0px;
  width: 370px;
  height: 90%;
  background-color: white;
  border-left: 1px solid #ddd;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.userName {
  font-size: 18px;
  font-weight: bold;
  color: #888;
}

.closeButton {
  background: none;
  border: none;
  font-size: 20px;
  color: #888;
  cursor: pointer;
}

.closeButton:hover {
  color: red;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.message {
  margin: 10px 0;
  padding: 5px;
  background-color: #474b46;
  border-radius: 5px;
  margin-left: 20px;
}

.sender_message {
  margin: 10px 0;
  padding: 5px;
  margin-right: 20px;
  background-color: #8b8a8a;
  border-radius: 5px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.input button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input button:hover {
  background-color: #0056b3;
}

.chatWindow.show {
  display: flex;
}
